<% include partials/header %>

    <!-- Page Content -->
    <% include partials/channel_section %>


    <div id="page">
        <div id="chat-list">
            <a href="/guild/<%= guild._id %>/manage" class="user"><div class="avatar"><img src="<%= guild.guild_picture %>" /></div><b><%= guild.guild_name %></b></a>
            <div class="chat-list">
                <li><a style="color: white" class="user" href="/guild/<%= guild._id %>"><i class="fa-solid fa-house-chimney"></i> <b>Home</b></a></li>
                <% guild.channel.forEach(function(channel){ %>
               <li><a class="user" style="color: white" href="/guild/<%= guild._id %>/channel/<%= channel._id %>"># <%= channel.channel_name %></a></a></li>
                <% }); %>
                <hr>
                    <% guild.participant.forEach(function(participant){ %>
                        <%if(participant._id.equals(currentUser._id)){ %>
                            <li><a class="user"><div style="color:white" class="avatar"><img class="little_avatar" src="<%= participant.profile_picture %>" /></div><%= participant.username %></a></li>
                        <% }else if(participant.online === true){ %>
                            <li><a class="user"><div class="avatar"><img class="little_avatar" src="<%= participant.profile_picture %>" /></div><%= participant.username %></a></li>
                        <% }else{ %>
                            <li><a><div class="avatar"><img class="little_avatar"  src="<%= participant.profile_picture %>" /></div><%= participant.username %></a></li>
                        <% } %>
                    <% }); %>
                        </div>
        </div>
        <div id="chat" class="page">
            <div class="page-header clearfix">
                <span><i class="fa-solid fa-hashtag"></i> <b><%= channel.channel_name %> </b></span>
                <ul>
                    <!-- <li><a title="Online" href="#">Online - 1</a></li> -->
                </ul>
            </div>
            <div class="chat-body scroll-hijack">
                <% channel.message.forEach(function(message){ %>
                    <div class="chat-message">
                            <div class="avatar"><img src="<%= message.author.profile_picture %>" /></div>
                            <div class="chat-message-content">
                                <a href="/users/<%= message.author._id %>" class="chat-message-author"><%= message.author.username %></a>
                                <span class="chat-message-date"><%= moment(message.created_at).startOf("minute").fromNow();  %></span>
                                <div class="chat-message-message">
                                        <%= message.text %>  
                                </div>
                            </div>
                    </div>
                <% }); %>
        </div>
        <div class="chat-footer relative">
            <form id="message-form" action="">
                <input name="message" type="text" class="post-input" placeholder="Message #<%= channel.channel_name %>" />
                <button type="submit" class="post-button"><span class="caret-right"></span></button>
            </form>
            </div>
        </div>
    </div>

    <% include partials/footer %>