<% include partials/header %>

<% include partials/channel_section.ejs %>

    <div id="page">
        <div id="chat-list">
            <a href="/users/@me" class="user"><div class="avatar"><img src="<%= currentUser.profile_picture %>" /></div><%= currentUser.username %></a>
            <ul class="chat-list scroll-hijack">
            
            </ul>
        </div>
        <div id="profile" class="page">
            <div class="page-header clearfix">
                <span><i class="fa-solid fa-compass"></i> Discover</span>
            </div>
            <div class="profile-body scroll-hijack">
                <div style="text-align: center;margin-top: 25px;">
                <h4>Discover Communities</h4>
                <p>Connect with the world, one server at a time - our chat application brings people together, wherever they are.</p>
            </div>
            <div style="padding-left: 125px;margin-top: 150px">
                <h5><i class="fa-regular fa-fire-flame"></i> Top Communities</h5>
                <p>Here are just some of the communities on VitalCord.</p><br>

                <% let guild = displayGuilds.sort((a,b) => b.created_at - a.created_at) %>
                <% for(let i = 0; i < guild.length; i++){ %>
                <a href="/guild/<%= guild[i]._id %>/join"><div class="card">
                    <div class="card_container">
                        <img class="card_icon" src="<%= guild[i].guild_picture %>" alt="Avatar">
                      <h5><b><%= guild[i].guild_name %></b></h5>
                      <p>Really cool guild</p>
                    </div>
                  </div></a>
              <% } %>
            </div>
        </div>
    </div>

<% include partials/footer %>
